<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Job Listings</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='jobs.css') }}">
   <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<script>
        $(document).ready(function() {
        $('form').submit(function(e) {
            e.preventDefault();
            $.post('/saveJobs', $(this).serialize(), function(data) {
                alert('Response: '+data); // Display the response in an alert
            });
        });
    });
</script>
<div align="center">
<div class="border">

    <h1>Job Listings in {{ location }}</h1><br>

    <ul>
        {% for job in jobs %}

                <li align ="left">
                <h2>{{ job["Job Title"] }}</h2>
                <p>Company: {{ job["Company Name"] }}</p>
                <p><a href="{{ job["Link"] }}" target="_blank" class = "button">Apply</a></p>
                 <form action="/saveJobs" method="post">
                    <input type="hidden" name="job_title" value="{{ job['Job Title'] }}">
                    <input type="hidden" name="company_name" value="{{ job['Company Name'] }}">
                    <input type="hidden" name="job_link" value="{{ job['Link'] }}">
                    <input type="submit" class="btn" value="Save this Job">
                </form>
            </li>

        {% endfor %}
    </ul>
</div>
</div>
</body>
</html>
