<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of Skills</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }

        .tablestyles {
            width: 300px;
            border: 1px solid black;
            padding: 8px;

        }

        .skills_container {
            display: flex;
            flex-wrap: wrap;
        }

        .form-container {
            display: none;
        }
    </style>

</head>
<body>
<script>
        $(document).ready(function () {
            $('form').submit(function (e) {
                e.preventDefault();
                $.post('/findwithskills', $(this).serialize(), function (data) {
                                    console.log("hrllp");
                    alert('Response: ' + data); // Display the response in an alert
                });
            });
        });
    </script>

<h1>List of Skills</h1>
<div class="skills_container">
    <form action="/findwithskills" method="post" id="skillsForm" enctype="multipart/form-data">
        <div class="skills_container">
            {% for skill in skills %}
                <div class="tablestyles">
                    <input type="checkbox" name="selected_skills[]" value="{{ skill }}">{{ skill }}
                </div>
            {% endfor %}
        </div>
        <input type="submit" value="Find Jobs with Selected Skills">
    </form>
</div>

<form action="/findJobs" method="get">
    <input type="submit" value="Find Jobs">
</form>


</body>
</html>
