<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of Skills</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: center;
        }

        .form-container {
            display: none;
        }
    </style>
</head>
<body>
<h1>List of Skills</h1>
<table>
    {% for skill in skills %}

        <th>{{ skill }}
        </th>

    {% endfor %}
</table>

<form action="/findJobs" method="get">
    <input type="submit" value="Find Jobs">
</form>


</body>
</html>
